*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/main-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4%;
    margin-bottom: 38%;
}

.logo {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}

.search {
    display: flex;
    align-items: center;
    flex: 0.8;
}

.search-input {
    background: rgba(196, 196, 196, 0.5);
    border-radius: 5px;
    padding: 12px 18px;
    border: none;
    color: #aeaeae;
    flex: 1;
    font-size: 14px;
    line-height: 16px;
}

.search-input::placeholder {
    color: #aeaeae;
}
.search-input:hover {
    padding: 11px 17px;
    border: 1px solid dodgerblue;
}

.search-button {
    background-color: transparent;
    border: none;
    padding: 8px 18px;
    cursor: pointer;
}

.bookmark {
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-items: center;

}

.user {
    display: flex;
}

.avatar {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 20px;
}

.title-en {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #787878;
    margin-bottom: 30px;
}

.info {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 74px;
}

.movie-info  {
    display: flex;
    align-items: center;
}

.tag {
    display:inline-block;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    background: #FFFFFF;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 20px;
}

.country {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-right: 33px;
}

.trailer {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}

.trailer:before {
    content: '';
    width: 30px;
    height: 30px;
    background-image: url("../img/play.svg");
    background-size: 100%;
    margin-right: 15px;
    background-repeat: no-repeat;
}

.more {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}

.more:after {
    margin-left: 15px;
    content: '';
    width: 30px;
    height: 30px;
    background-image: url("../img/play.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    transform: rotate(90deg);
}

.content {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    color: black;
    padding: 3% 4%;
}

.short-info {
    margin-right: 4%;
}

.poster {
    display: block;
    margin-top: -35%;
    margin-bottom: 7%;
}

.button {
    width: 184px;
    height: 36px;
    font-size: 14px;
    line-height: 16px;
    background: #FF8F27;
    color: #FFFFFF;
    margin-bottom: 20%;
    border: none;
}

.actors_title {
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    padding-left: 15px;
    margin-bottom: 10px;
}


.actors_list {
    line-height: 150%;
    padding-left: 15px;
    margin: 0;
    list-style: none;
    text-decoration: underline;
}

.full-info {
    flex:1;
}

.menu {
    display: flex;
    margin-bottom: 5%;
}

.menu-i {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
}

.menu-i:not(:last-child) {
    margin-right: 4%;
}

.menu-i:hover {
    color: #FF8F27;
}

.active {
    color: #FF8F27;
}


.article {
    display: flex;
    justify-content: space-between;
}

.text {
    font-size: 16px;
    line-height: 140%;
}

.full-content {
    flex-basis: 100%;

    margin-right: 8%;
}

.menu-content {
    display:none;
    font-size: 16px;
    line-height: 140%;
}

.visible {
    display: block;
}

.promo {

}

.subscription-title {
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
}

.subscription {
    display: flex;
    margin-bottom: 30%;
}

.subscription-email {
    border: none;
    border-radius: 5px;
    align-items: center;
    padding-left: 15px;
    background: rgba(241, 241, 241, 0.5);
    width: 220px;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    color: #9B9B9B;
    margin-right: -15%;
}

.email-confirm {
    width: 40px;
    height: 40px;
    background-color: #FF8F27;
    border-radius: 0px 5px 5px 0px;
    border: none;
}

@media(max-width: 1200px) {
    .container{
        max-width: 960px;
    }

    .menu-i {
        font-size: 16px;
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 740px;
    }

    .poster {
        margin-top: -30%;
    }

    .actors_list {
        font-size: 14px;
    }

    .menu {
        flex-wrap: wrap;
    }

    .menu-i {
        flex-basis: 20%;
        line-height: 2;
    }

    .article {
        flex-wrap: wrap;
    }

    .menu-content {
        margin-right: 0;
        margin-bottom: 5%;
    }

    .subscription {
        margin-bottom: 4%;
    }

    p {
        font-size: 14px;
    }
}

@media(max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .more {
        display: none;
    }

    .menu-i {
        margin-left: 5%;
        flex-basis: 40%;
        line-height: 1.8;
    }
}

@media(max-width: 578px) {
    .container {
        max-width: 90%;
    }

    .header {
        flex-wrap: wrap;
        margin-bottom: 18%;
    }

    .search {
        margin-top: 10%;
        flex-basis: 100%;
        order: 3;
    }


    .content {
        flex-wrap: wrap;
    }

    .short-info {
        margin-bottom: 5%;
        margin-right: 0;
    }



    .poster {
        margin-top: -15%;
        display: inline-block;
        width: 100%;
    }

    .button {
        display: inline-block;
        width: 100%;
    }


    .actors_title, .actors_list{
        display: none;
    }

    .menu-i {
        flex-basis: 40%;
        line-height: 2;
    }

    .movie-info {
        flex-wrap: wrap;
    }

    .trailer {
        flex-basis: 100%;
        margin-top: 10%;
    }

}